@tailwind base;
@tailwind components;
@tailwind utilities;

* { margin:0; font-family:"Lato", sans-serif; }

body { margin:0; overflow-x:hidden; background-color: #00011c; align-items: center; justify-content: center; }

nav ul { overflow:hidden; list-style-type:none; margin:0; padding:0 40px; align-items: center; justify-content: center; }
nav ol { margin:0; padding:0; list-style:none;}
#navbar nav{ line-height:normal; }
#navbar { background-color:rgba(255, 255, 255, 0.3); text-transform:uppercase; font-family:"Open Sans", sans-serif; margin:0; width:100%; overflow:hidden; position:fixed; top:0; justify-content: center; vertical-align: center; }
#navbar li { float:right; margin:0 15px 0 0; }
#navbar li a { display:block; color:white; text-align:center; padding:3vmin 3vmin; text-decoration:none; font-size:14px; height:auto; }
#navbar li a:hover:not(.active) { background-color:rgba(255, 255, 255, 0.35); }
#navbar img { height:100px; width:300px; max-height: 6vmin; max-width: 10vmin; align-self: center; margin-top:0.6vmin; }
#navbar form{display:none; width:100%; margin:0; padding:0;}
#navbar ul .dropdown { display:none; }

#pageintro{padding:200px 0 270px;}
#pageintro article{display:block; max-width:75%; margin:0 auto; text-transform:capitalize; text-align:center;}
#pageintro article p:first-of-type{margin:0 0 30px 0; padding:0; font-size:2.5rem;}
#pageintro .heading{font-size:5rem;}
#pageintro footer{margin-top:50px;}
#pageintro footer .btn{padding:25px 35px 27px; font-size:1.2rem; border-radius:50px;}

#title { background-color:rgba(0,0,0, 0);  font-weight:bold; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); z-index:2; width:80%; padding:20px; margin:30px 0 30px 0 }
#title li { height:120px; list-style-type:none; display:inline; }
#title .h1 { margin:0 0 80px 0; font-family:'Lato';-webkit-filter: drop-shadow(4px 4px 4px #333); filter: drop-shadow(4px 4px 4px #333);  }
#title .btn { transition: 0.3s; padding:25px 35px 27px; font-size:1.2rem; border-radius:50px; border-style: solid; border-width:3px; font-family: 'Lato'; margin: 0 20px; }

.btn, .btn.inverse:hover{color:#FFFFFF; background-color:rgba(255,255,255, 0.3); border-color:rgba(255,255,255, 0.3);}
.btn:hover, .btn.inverse{color:inherit; background-color:transparent; border-color:inherit;}

#circle1 { 
    top: 30vh; 
    left: 10vw; 
    height: 40rem;
    width: 40rem;
    background-color: #ff0000;
    border-radius: 50%;
    display: inline-block;
    position: absolute; 
    filter: blur(24px);
    opacity: 0.7; 
    animation: blob 7s infinite; 
}

#circle2 { 
    top: 30vh; 
    left: 25vw; 
    height: 40rem;
    width: 40rem;
    background-color: #1357be;
    border-radius: 50%;
    display: inline-block;
    position: absolute; 
    filter: blur(24px);
    opacity: 0.7; 
    animation: blob 7s infinite; 
    animation-delay: 1s; 
}

#circle3 { 
    top: 10vh; 
    left: 15vw;
    height: 40rem;
    width: 40rem;
    background-color: #061d95;
    border-radius: 50%;
    display: inline-block;
    position: absolute; 
    filter: blur(24px);
    opacity: 0.7; 
    animation: blob 7s infinite;
    animation-delay: 2s;  
}

#circle4 { 
    top: 10vh; 
    left: 35vw;
    height: 40rem;
    width: 40rem;
    background-color: #a54d05;
    border-radius: 50%;
    display: inline-block;
    position: absolute; 
    filter: blur(24px);
    opacity: 0.7; 
    animation: blob 7s infinite;
    animation-delay: 3s;  
}

#circle5 { 
    top: 30vh; 
    left: 50vw;
    height: 40rem;
    width: 40rem;
    background-color: #a55205;
    border-radius: 50%;
    display: inline-block;
    position: absolute; 
    filter: blur(24px);
    opacity: 0.7; 
    animation: blob 7s infinite;
    animation-delay: 4s;  
}

#circle6 { 
    top: 10vh; 
    left: 50vw;
    height: 40rem;
    width: 40rem;
    background-color: #a50505;
    border-radius: 50%;
    display: inline-block;
    position: absolute; 
    filter: blur(24px);
    opacity: 0.7; 
    animation: blob 7s infinite;
    animation-delay: 5s;  
}

@keyframes blob {
    0% {
        transform: scale(1); 
        transform: translate(0px, 0px); 
    }
    33% {
        transform: scale(1.1); 
        transform: translate(30px, 50px); 
    }
    66% {
        transform: scale(0.9); 
        transform: translate(-20px, 20px); 
    }
    100% {
        transform: scale(1); 
        transform: translate(0px, 0px); 
    }
}



.label1 { font-size: 0.9rem; color:rgb(58, 58, 58); font-family:'Lato';  }