@tailwind base;
@tailwind components;
@tailwind utilities;

* { margin:0; font-family:"Lato", sans-serif; }

body { margin:0; overflow-x:hidden; background-color: #f7fbfd; align-items: center; justify-content: center; }

nav ul { overflow:hidden; list-style-type:none; margin:0; padding:0 40px; align-content: center; align-items: center; justify-content: center; }
nav ol { margin:0; padding:0; list-style:none;}
#navbar nav{ line-height:normal; }
#navbar { background-color:rgba(0, 0, 0, 0.5); text-transform:uppercase; font-family:"Open Sans", sans-serif; margin:0; width:100%; overflow:hidden; position:fixed; top:0; }
#navbar li { float:right; margin:0 15px 0 0; }
#navbar li a { display:block; color:white; text-align:center; padding:30px 30px; text-decoration:none; font-size:14px; height:auto; }
#navbar li a:hover:not(.active) { background-color:#111; }
#navbar img { height:100px; width:300px; max-height: 65px; max-width: 110px; align-self: center; padding:0px; margin:auto; }
#navbar form{display:none; width:100%; margin:0; padding:0;}
#navbar ul .dropdown { display:none; }